<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>munki_admin</string>
		<key>creation_date</key>
		<date>2017-02-13T14:47:17Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>This package will enable Remote Desktop access for you!</string>
	<key>developer</key>
	<string>Your Org Here</string>
	<key>display_name</key>
	<string>Enable Screen Sharing</string>
	<key>installcheck_script</key>
	<string>#!/bin/bash
# Check whether ARD is running. 
# An exit code of 1 means ARD is already running, and Munki will consider the package installed.
# An exit code of 0 means ARD is not running, and the package will therefore be made available for user install.

SERVICE='/System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/MacOS/ARDAgent'
	
if ps -ef | grep -v grep | grep $SERVICE > /dev/null; then
	exit 1
else
	exit 0
fi</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>EnableARD</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
# Get current user. This is used later to ensure that ARD is enabled only for the calling user.
		
CURRENT_USER=`/bin/ls -l /dev/console | /usr/bin/awk '{ print $3 }'`

if [ "$CURRENT_USER" == 'root' ]; then
	echo "This cannot run at the login window - exiting"
	exit 1
fi

# Prepare ARD. The '-specifiedUsers' option sets the default config to 'deny'

/System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -allowAccessFor -specifiedUsers

sleep 5

# Activate ARD with all privileges for the calling user.

/System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -access -on -privs -all -users $CURRENT_USER -activate

sleep 5
		
exit 0</string>
	<key>unattended_install</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>

